<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.sintef.edap.model.visulizer.inView"
            objectClass="edap.StateMachine">
         <menu
               id="org.sintef.edap.model.visulizer.menu"
               label="EDAP"
               path="additions">
            <separator
                  name="EDAP">
            </separator>
         </menu>
         <action
               class="org.sintef.edap.model.visulizer.VisulizerActionDelegate"
               icon="icons/edapGraph.gif"
               id="org.sintef.edap.model.visulizer.inView"
               label="Show Graph in View"
               menubarPath="org.sintef.edap.model.visulizer.menu/EDAP"
               tooltip="Visulize Application">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.sintef.edap.model.visulizer.external"
            objectClass="edap.StateMachine">
         <menu
               id="org.sintef.edap.model.visulizer.menu"
               label="EDAP"
               path="additions">
            <separator
                  name="EDAP">
            </separator>
         </menu>
         <action
               class="org.sintef.edap.model.visulizer.VisulizerActionDelegate"
               icon="icons/edapGraph.gif"
               id="org.sintef.edap.model.visulizer.external"
               label="Show Graph External"
               menubarPath="org.sintef.edap.model.visulizer.menu/EDAP"
               tooltip="Visulize Application">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.sintef.edap.model.visulizer"
            name="Graph Category">
      </category>
      <view
            category="org.sintef.edap.model.visulizer"
            class="org.sintef.edap.model.visulizer.views.GraphView"
            icon="icons/edapGraph.gif"
            id="org.sintef.edap.model.visulizer.views.GraphView"
            name="Graph View">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
