<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="edap.resource.edap.mopp.EdapMetaInformation" id="edap.resource.edap.mopp.EdapMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="edap.resource.edap.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension id="edap.resource.edap.nature" name="edap nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="edap.resource.edap.mopp.EdapNature" />
		</runtime>
		<builder id="edap.resource.edap.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="edap.resource.edap.builder" name="edap Builder">
		<builder hasNature="true">
			<run class="edap.resource.edap.mopp.EdapBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="edap.resource.edap.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="edap.resource.edap.mopp.EdapResourceFactoryDelegator" type="edap">
		</parser>
	</extension>
	
	<extension-point id="edap.resource.edap.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
