<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://SmartAdapters4MODERATES"
            class="smartadapters4MODERATES.Smartadapters4MODERATESPackage"
            genModel="metamodel/Edap_AOM_Framework.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://SmartAdapters4ART/smartadapters/core/adaptations"
            class="smartadapters4MODERATES.adaptations.AdaptationsPackage"
            genModel="metamodel/Edap_AOM_Framework.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://edap_relaxed"
            class="edap_relaxed.Edap_relaxedPackage"
            genModel="metamodel/Edap_AOM_Framework.genmodel"/>
   </extension>

</plugin>
