<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://edapuC"
            class="edapuC.EdapuCPackage"
            genModel="model/edapuC.genmodel"/>
   </extension>
   
      <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.sintef.edap.generator.c.contribution1"
            nameFilter="*.edapuC"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="EDAP"
               path="additions"
               id="org.sintef.edap.generator.uC.xmimenu">
            <separator
                  name="General">
            </separator>
            <separator
                  name="MSP">
            </separator>
         </menu>
         <action
               class="org.sintef.edap.generator.uc.popup.actions.MSP.Generate"
               enablesFor="1"
               id="org.sintef.edap.generator.uc.popup.actions.MSP.Generate"
               label="MSP: Generate Device Drivers"
               menubarPath="org.sintef.edap.generator.uC.xmimenu/MSP">
         </action>
         <action
               class="org.sintef.edap.generator.uc.popup.actions.MSP.GenerateApplication"
               enablesFor="1"
               id="org.sintef.edap.generator.uc.popup.actions.MSP.GenerateApplication"
               label="MSP: Generate Application"
               menubarPath="org.sintef.edap.generator.uC.xmimenu/MSP">
         </action>
         <action
               class="org.sintef.edap.generator.uc.popup.actions.MSP.GenerateTemplates"
               enablesFor="1"
               id="org.sintef.edap.generator.uc.popup.actions.MSP.GenerateTemplates"
               label="MSP: Generate Device Drivers Templates"
               menubarPath="org.sintef.edap.generator.uC.xmimenu/MSP">
         </action>
      </objectContribution>
      <objectContribution
            id="org.sintef.edap.generator.c.contribution2"
            nameFilter="*.edap*"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.sintef.edap.generator.c.menu2"
               label="EDAP"
               path="additions">
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               class="org.sintef.edap.generator.uc.popup.actions.Text2XMI"
               enablesFor="1"
               id="org.sintef.edap.generator.c.Text2XMI"
               label="Parse to XMI"
               menubarPath="org.sintef.edap.generator.c.menu2/group2">
         </action>
      </objectContribution>
   </extension>

</plugin>
