<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="smartadapters4MODERATES.resource.edap_aspect.mopp.Edap_aspectMetaInformation" id="smartadapters4MODERATES.resource.edap_aspect.mopp.Edap_aspectMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="smartadapters4MODERATES.resource.edap_aspect.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
	</extension>
	
	<extension id="smartadapters4MODERATES.resource.edap_aspect.nature" name="edap_aspect nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="smartadapters4MODERATES.resource.edap_aspect.mopp.Edap_aspectNature" />
		</runtime>
		<builder id="smartadapters4MODERATES.resource.edap_aspect.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="smartadapters4MODERATES.resource.edap_aspect.builder" name="edap_aspect Builder">
		<builder hasNature="true">
			<run class="smartadapters4MODERATES.resource.edap_aspect.mopp.Edap_aspectBuilderAdapter" />
		</builder>
	</extension>
	
	<extension-point id="smartadapters4MODERATES.resource.edap_aspect.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd"/>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="smartadapters4MODERATES.resource.edap_aspect.mopp.Edap_aspectResourceFactoryDelegator" type="edap_aspect">
		</parser>
	</extension>
	
	<extension-point id="smartadapters4MODERATES.resource.edap_aspect.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd"/>
	
</plugin>
